<div class="jumbotron overflow-hidden" id="landing-jumbo">
  <div class='container vh-60 d-flex justify-content-center position-relative'>
    <%= image_tag("Name.png", width: "50%", class: "img-responsive align-self-center")  %>
    <%= image_tag("cloud.png", width: "200em", class: "cloud position-absolute", style: "top: 10%; left: -10%" )  %>
    <%= image_tag("cloud.png", width: "200em", class: "cloud position-absolute", style: "top: 5%; left: 80%" )  %>
    <%= image_tag("cloud.png", width: "200em", class: "cloud position-absolute", style: "top: 30%; left: -60%" )  %>
    <%= image_tag("cloud.png", width: "200em", class: "cloud position-absolute", style: "top: 35%; left: 120%" )  %>
    <%= image_tag("cloud.png", width: "200em", class: "cloud position-absolute", style: "top: 60%; left: 70%" )  %>
    <%= image_tag("cloud.png", width: "200em", class: "cloud position-absolute", style: "top: 65%; left: -20%" )  %>
    <%= image_tag("cloud.png", width: "200em", class: "cloud position-absolute", style: "top: 80%; left: 30%" )  %>
    <%= image_tag("cloud.png", width: "200em", class: "cloud position-absolute", style: "top: 90%; left: -50%" )  %>
    <%= image_tag("cloud.png", width: "200em", class: "cloud position-absolute", style: "top: 95%; left: 100%" )  %>
  </div>
</div>
<div class="container-fluid text-center">
  <div class='row'>
    <div class='col-md-4'>
      <h1>Safety</h1>
      <p>Is what this campaign aims to do for the animals.<br>They will not be harmed and will only have their best interests at heart. Animals should be in a safe and protected environment for learning and understanding.</p>
    </div>
    <div class='col-md-4'>
      <h1>Aweareness</h1>
      <p>Is what this campaign aims to create amongst people.<br>We need to be aware of animals rights and of bad animal practices. We must be aware that there is a choice that we can make to do better by all living creatures.</p>
    </div>
    <div class='col-md-4'>
      <h1>freedom</h1>
      <p>Is what this campaign aims to do for the animals.<br>We have the right to freedom and so should they. They did not ask to be born as prisoners for entertainment. We can make a better change for the, towards the future.</p>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
